ep_telemetry.json
[
    {
        "id": "5eb044a.67306bc",
        "type": "tab",
        "label": "Heartbeat",
        "disabled": false,
        "info": ""
    },
    {
        "id": "15a0d5c9.3b9b92",
        "type": "tab",
        "label": "Telemetry Data Streaming",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f949f4.debdf6",
        "type": "tab",
        "label": "Website Contact Form",
        "disabled": false,
        "info": ""
    },
    {
        "id": "812297d7.4a626",
        "type": "tab",
        "label": "ProspectSoft reporting",
        "disabled": false,
        "info": ""
    },
    {
        "id": "24aabfeb.a5fbb8",
        "type": "tab",
        "label": "Sendinblue",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81053105.60e14",
        "type": "tab",
        "label": "iAuditor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "db823d6a.3762f",
        "type": "subflow",
        "name": "Prospectsoft: Get Contact details ",
        "info": "",
        "category": "",
        "in": [
            {
                "x": -60,
                "y": 80,
                "wires": [
                    {
                        "id": "fecb4035.9d3958"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1300,
                "y": 80,
                "wires": [
                    {
                        "id": "587b6da8.c69b54",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "a9d41dbe.70411",
        "type": "subflow",
        "name": "iAuditor: Send email",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "d5875f98.4f265",
        "type": "subflow",
        "name": "iAuditor: Send email | Staging",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "b6f41f64.a726c",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "22fc4e9a.40e8f2"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "2e2912af.70f376",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "2d331bcf.10f214",
        "type": "subflow",
        "name": "Subflow 3",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "a76d987b.d992d",
        "type": "amazon config",
        "z": "",
        "name": "AWS",
        "region": "eu-west-1",
        "proxyRequired": false,
        "proxy": ""
    },
    {
        "id": "e288eb3f.29a54",
        "type": "bigquery-config",
        "z": ""
    },
    {
        "id": "e0691b19.afee48",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8acedcb.f54ab2",
        "type": "gauth",
        "z": ""
    },
    {
        "id": "746e2d73.12c1c4",
        "type": "config-log",
        "z": "",
        "logname": "Logs config",
        "logdir": "logs",
        "stamp": "utc",
        "stampFormat": "YYYY/MM/DD HH:mm:ss",
        "logstyle": "plain",
        "logrotate": false,
        "logcompress": false,
        "logrotatecount": "5",
        "logsize": "1000",
        "logtopic": false,
        "logsource": true
    },
    {
        "id": "23889661.c1e502",
        "type": "AWS SQS",
        "z": "15a0d5c9.3b9b92",
        "aws": "a76d987b.d992d",
        "operation": "ReceiveMessage",
        "QueueUrl": "https://sqs.eu-west-1.amazonaws.com/935852492816/Nayax-DEX",
        "Label": "",
        "AWSAccountIds": "",
        "Actions": "",
        "ReceiptHandle": "",
        "VisibilityTimeout": "",
        "Entries": "",
        "QueueName": "",
        "MessageBody": "",
        "Attributes": "",
        "Tags": "",
        "TagKeys": "",
        "name": "Receive SQS message",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "346ed3a9.507cb4"
            ],
            []
        ]
    },
    {
        "id": "a7ab23e.25b12e",
        "type": "inject",
        "z": "15a0d5c9.3b9b92",
        "name": "Check SQS",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "f09d09e7.1580e"
            ]
        ]
    },
    {
        "id": "2f7a05d.72d887a",
        "type": "AWS SQS",
        "z": "15a0d5c9.3b9b92",
        "aws": "a76d987b.d992d",
        "operation": "DeleteMessage",
        "QueueUrl": "https://sqs.eu-west-1.amazonaws.com/935852492816/Nayax-DEX",
        "Label": "",
        "AWSAccountIds": "",
        "Actions": "",
        "ReceiptHandle": "",
        "VisibilityTimeout": "",
        "Entries": "",
        "QueueName": "",
        "MessageBody": "",
        "Attributes": "",
        "Tags": "",
        "TagKeys": "",
        "name": "Delete Message",
        "x": 960,
        "y": 60,
        "wires": [
            [],
            [
                "1e21880e.6a5cd8"
            ]
        ]
    },
    {
        "id": "1e21880e.6a5cd8",
        "type": "debug",
        "z": "15a0d5c9.3b9b92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 380,
        "wires": []
    },
    {
        "id": "77ce4b39.6b57b4",
        "type": "function",
        "z": "15a0d5c9.3b9b92",
        "name": "Encode ReceiptHandle",
        "func": "var encReceiptHandle = encodeURIComponent(msg.payload.Messages[0].ReceiptHandle)\nmsg.ReceiptHandle = encReceiptHandle;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 60,
        "wires": [
            [
                "2f7a05d.72d887a"
            ]
        ]
    },
    {
        "id": "18170c1.8e490f4",
        "type": "function",
        "z": "15a0d5c9.3b9b92",
        "name": "Parse DEX",
        "func": "//ADMIN\n//first parse pass to isolate elements\nparsedJSON = JSON.parse(msg.payload.Body);\n//isolate receiveCount\nvar machineDate = msg.payload.Body.match(\n  /(?:MachineDate\":\")([0-9]{4})([0-9]{2})([0-9]{2}).([0-9]{2})([0-9]{2})([0-9]{2})/\n);\nvar HWSerial = msg.payload.Body.match(\n  /(?:HWSerial\":\")([0-9]*)/\n);\n\n//split DexData into PA1 objects\nvar dexLines = parsedJSON.DexData.toString().split(\"PA1\");\n//find PA1 object that contains CAPPUCCINO\nvar cappuccinoData = dexLines.filter((s) => s.includes(\"CAPPUCCINO\"));\n//find PA1 object that contains CAFFE LATTE\nvar caffeeLatteData = dexLines.filter((s) => s.includes(\"CAFFE LATTE\"));\n//find PA1 object that contains WHITE COFFEE\nvar whiteCoffeeData = dexLines.filter((s) => s.includes(\"WHITE COFFEE\"));\n//find PA1 object that contains AMERICANO\nvar americanoData = dexLines.filter((s) => s.includes(\"AMERICANO\"));\n//find PA1 object that contains FLAT WHITE\nvar flatWhiteData = dexLines.filter((s) => s.includes(\"FLAT WHITE\"));\n//find PA1 object that contains DOUBLE ESPRESSO\nvar doubleEspressoData = dexLines.filter((s) => s.includes(\"DOUBLE ESPRESSO\"));\n//find PA1 object that contains CAFFE MOCHA\nvar caffeeMochaData = dexLines.filter((s) => s.includes(\"CAFFE MOCHA\"));\n//find PA1 object that contains HOT CHOCOLATE\nvar hotChocolateData = dexLines.filter((s) => s.includes(\"HOT CHOCOLATE\"));\n//find PA1 object that contains BLACK TEA\nvar blackTeaData = dexLines.filter((s) => s.includes(\"BLACK TEA\"));\n//find PA1 object that contains WHITE TEA\nvar whiteTeaData = dexLines.filter((s) => s.includes(\"WHITE TEA\"));\nif (msg.payload.Body.includes(\"CARAMEL\")) {\n  //find PA1 object that contains CARAMEL\n  var caramelData = dexLines.filter((s) => s.includes(\"CARAMEL\"));\n}\nif (msg.payload.Body.includes(\"VANILLA\")) {\n  //find PA1 object that contains VANILLA\n  var vanillaData = dexLines.filter((s) => s.includes(\"VANILLA\"));\n}\nif (msg.payload.Body.includes(\"HAZELNUT\")) {\n  //find PA1 object that contains HAZELNUT\n  var hazelnutData = dexLines.filter((s) => s.includes(\"HAZELNUT\"));\n}\nif (msg.payload.Body.includes(\"TOMATO\")) {\n  //find PA1 object that contains TOMATO\n  var tomatoSoupData = dexLines.filter((s) => s.includes(\"TOMATO SOUP\"));\n}\nif (msg.payload.Body.includes(\"CUP TYPE 1\")) {\n  //find PA1 object that contains TOMATO\n  var cupTypeOneData = dexLines.filter((s) => s.includes(\"CUP TYPE 1\"));\n}\n\n//find PA4 and split cappuccinoSalesVal & cappuccinoTestVendVal\nvar cappuccinoSalesVal = cappuccinoData[0].match(/(PA4)\\*([0-9]*)/);\nvar cappuccinoTestVendVal = cappuccinoData[0].match(/(PA3)\\*([0-9]*)/);\n//find PA4 and split caffeeLatteSalesVal & caffeeLatteTestVendVal\nvar caffeeLatteSalesVal = caffeeLatteData[0].match(/(PA4)\\*([0-9]*)/);\nvar caffeeLatteTestVendVal = caffeeLatteData[0].match(/(PA3)\\*([0-9]*)/);\n//find PA4 and split whiteCoffeeSalesVal & whiteCoffeeTestVendVal\nvar whiteCoffeeSalesVal = whiteCoffeeData[0].match(/(PA4)\\*([0-9]*)/);\nvar whiteCoffeeTestVendVal = whiteCoffeeData[0].match(/(PA3)\\*([0-9]*)/);\n//find PA4 and split americanoSalesVal & americanoTestVendVal\nvar americanoSalesVal = americanoData[0].match(/(PA4)\\*([0-9]*)/);\nvar americanoTestVendVal = americanoData[0].match(/(PA3)\\*([0-9]*)/);\n//find PA4 and split flatWhiteSalesVal & flatWhiteTestVendVal\nvar flatWhiteSalesVal = flatWhiteData[0].match(/(PA4)\\*([0-9]*)/);\nvar flatWhiteTestVendVal = flatWhiteData[0].match(/(PA3)\\*([0-9]*)/);\n//find PA4 and split doubleEspressoSalesVal & doubleEspressoTestVendVal\nvar doubleEspressoSalesVal = doubleEspressoData[0].match(/(PA4)\\*([0-9]*)/);\nvar doubleEspressoTestVendVal = doubleEspressoData[0].match(/(PA3)\\*([0-9]*)/);\n//find PA4 and split caffeeMochaSalesVal & caffeeMochaTestVendVal\nvar caffeeMochaSalesVal = caffeeMochaData[0].match(/(PA4)\\*([0-9]*)/);\nvar caffeeMochaTestVendVal = caffeeMochaData[0].match(/(PA3)\\*([0-9]*)/);\n//find PA4 and split hotChocolateSalesVal & hotChocolateTestVendVal\nvar hotChocolateSalesVal = hotChocolateData[0].match(/(PA4)\\*([0-9]*)/);\nvar hotChocolateTestVendVal = hotChocolateData[0].match(/(PA3)\\*([0-9]*)/);\n//find PA4 and split blackTeaSalesVal & blackTeaTestVendVal\nvar blackTeaSalesVal = blackTeaData[0].match(/(PA4)\\*([0-9]*)/);\nvar blackTeaTestVendVal = blackTeaData[0].match(/(PA3)\\*([0-9]*)/);\n//find PA4 and split whiteTeaSalesVal & whiteTeaTestVendVal\nvar whiteTeaSalesVal = whiteTeaData[0].match(/(PA4)\\*([0-9]*)/);\nvar whiteTeaTestVendVal = whiteTeaData[0].match(/(PA3)\\*([0-9]*)/);\nif (typeof caramelData !== 'undefined') {\n  //find PA4 and split caramelSalesVal & caramelTestVendVal\n  var caramelSalesVal = caramelData[0].match(/(PA4)\\*([0-9]*)/);\n  var caramelTestVendVal = caramelData[0].match(/(PA3)\\*([0-9]*)/);\n}\nif (typeof vanillaData !== 'undefined') {\n  //find PA4 and split vanillaSalesVal & vanillaTestVendVal\n  var vanillaSalesVal = vanillaData[0].match(/(PA4)\\*([0-9]*)/);\n  var vanillaTestVendVal = vanillaData[0].match(/(PA3)\\*([0-9]*)/);\n}\nif (typeof hazelnutData !== 'undefined') {\n  //find PA4 and split hazelnutSalesVal & hazelnutTestVendVal\n  var hazelnutSalesVal = hazelnutData[0].match(/(PA4)\\*([0-9]*)/);\n  var hazelnutTestVendVal = hazelnutData[0].match(/(PA3)\\*([0-9]*)/);\n}\nif (typeof tomatoSoupData !== 'undefined') {\n  //find PA4 and split tomatoSoupSalesVal & tomatoSoupTestVendVal\n  var tomatoSoupSalesVal = tomatoSoupData[0].match(/(PA4)\\*([0-9]*)/);\n  var tomatoSoupTestVendVal = tomatoSoupData[0].match(/(PA3)\\*([0-9]*)/);\n}\nif (typeof cupTypeOneData !== 'undefined') {\n  //find PA4 and split tomatoSoupSalesVal & tomatoSoupTestVendVal\n  var cupTypeOneSalesVal = cupTypeOneData[0].match(/(PA4)\\*([0-9]*)/);\n  var cupTypeOneTestVendVal = cupTypeOneData[0].match(/(PA3)\\*([0-9]*)/);\n}\n\n//include SalesVal and TestVendVal in msg.payload\nmsg.payload.machineDate = machineDate[1] + '-' + machineDate[2] + '-' + machineDate[3] + 'T' + machineDate[4] + ':' + machineDate[5] + ':' + machineDate[6];\n//msg.payload.machineTime = machineDate[2];\nmsg.payload.HWSerial = HWSerial[1];\nmsg.payload.cappuccinoSales = cappuccinoSalesVal[2];\nmsg.payload.cappuccinoTestVend = cappuccinoTestVendVal[2];\nmsg.payload.caffeeLatteSales = caffeeLatteSalesVal[2];\nmsg.payload.caffeeLatteTestVend = caffeeLatteTestVendVal[2];\nmsg.payload.whiteCoffeeSales = whiteCoffeeSalesVal[2];\nmsg.payload.whiteCoffeeTestVend = whiteCoffeeTestVendVal[2];\nmsg.payload.americanoSales = americanoSalesVal[2];\nmsg.payload.americanoTestVend = americanoTestVendVal[2];\nmsg.payload.flatWhiteSales = flatWhiteSalesVal[2];\nmsg.payload.flatWhiteTestVend = flatWhiteTestVendVal[2];\nmsg.payload.doubleEspressoSales = doubleEspressoSalesVal[2];\nmsg.payload.doubleEspressoTestVend = doubleEspressoTestVendVal[2];\nmsg.payload.caffeeMochaSales = caffeeMochaSalesVal[2];\nmsg.payload.caffeeMochaTestVend = caffeeMochaTestVendVal[2];\nmsg.payload.hotChocolateSales = hotChocolateSalesVal[2];\nmsg.payload.hotChocolateTestVend = hotChocolateTestVendVal[2];\nmsg.payload.blackTeaSales = blackTeaSalesVal[2];\nmsg.payload.blackTeaTestVend = blackTeaTestVendVal[2];\nmsg.payload.whiteTeaSales = whiteTeaSalesVal[2];\nmsg.payload.whiteTeaTestVend = whiteTeaTestVendVal[2];\nif (typeof vanillaData !== 'undefined') {\n  msg.payload.vanillaSales = vanillaSalesVal[2];\n  msg.payload.vanillaTestVend = vanillaTestVendVal[2];\n}\nif (typeof caramelData !== 'undefined') {\n  msg.payload.caramelSales = caramelSalesVal[2];\n  msg.payload.caramelTestVend = caramelTestVendVal[2];\n}\nif (typeof hazelnutData !== 'undefined') {\n  msg.payload.hazelnutSales = hazelnutSalesVal[2];\n  msg.payload.hazelnutTestVend = hazelnutTestVendVal[2];\n}\nif (typeof tomatoSoupData !== 'undefined') {\n  msg.payload.tomatoSoupSales = tomatoSoupSalesVal[2];\n  msg.payload.tomatoSoupTestVend = tomatoSoupTestVendVal[2];\n}\nif (typeof cupTypeOneData !== 'undefined') {\n  msg.payload.cupTypeOneSalesVal = cupTypeOneSalesVal[2];\n  msg.payload.cupTypeOneTestVend = cupTypeOneTestVendVal[2];\n}\n\n// debug data\n//    msg.parsedJSON = parsedJSON;\n// msg.lines = dexLines;\n// msg.cappuccinoData = cappuccinoData;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "e4e1c7ad.9a724"
            ]
        ]
    },
    {
        "id": "fe48ac50.d9ed58",
        "type": "bigquery insert",
        "z": "15a0d5c9.3b9b92",
        "bigquery": "e288eb3f.29a54",
        "dataset": "Nayax_Data",
        "table": "SalesAndTestVends",
        "name": "Write Data in BigQuery",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "a6c9e422.6aaea",
        "type": "change",
        "z": "15a0d5c9.3b9b92",
        "name": "Change payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload.Body",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.ReceiptHandle",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.MD5OfBody",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.Attributes",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "fe48ac50.d9ed58",
                "1e21880e.6a5cd8",
                "d63b205c.c31468"
            ]
        ]
    },
    {
        "id": "f09d09e7.1580e",
        "type": "function",
        "z": "15a0d5c9.3b9b92",
        "name": "Set SQS Query Attributes",
        "func": "msg.MaxNumberOfMessages = '10'\nmsg.AttributeNames = ['ApproximateReceiveCount']\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "23889661.c1e502"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "icon": "node-red-dashboard/ui_numeric.png"
    },
    {
        "id": "346ed3a9.507cb4",
        "type": "bigsplitter",
        "z": "15a0d5c9.3b9b92",
        "name": "Split payload.Messages array",
        "property": "payload.Messages",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "662a9a55.280364",
                "18170c1.8e490f4",
                "d63b205c.c31468"
            ],
            []
        ]
    },
    {
        "id": "e4e1c7ad.9a724",
        "type": "switch",
        "z": "15a0d5c9.3b9b92",
        "name": "Check ApproximateReceiveCount",
        "property": "payload.Attributes.ApproximateReceiveCount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 180,
        "wires": [
            [
                "a6c9e422.6aaea"
            ]
        ]
    },
    {
        "id": "f0603a6c.8d23e8",
        "type": "http in",
        "z": "7f949f4.debdf6",
        "name": "Receive contact form",
        "url": "/contact_form",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "fd5122c6.487b78",
                "1afcf994.1fa71e",
                "8393c236.520e28"
            ]
        ]
    },
    {
        "id": "9a3de1b4.705f78",
        "type": "debug",
        "z": "7f949f4.debdf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "56d2626e.a70a8c",
        "type": "GSheet",
        "z": "7f949f4.debdf6",
        "creds": "8acedcb.f54ab2",
        "method": "append",
        "action": "",
        "sheet": "1_LxYh5puWtTfyfFmLd7wQh47vg1z4L9tw5VqmQhEkTU",
        "cells": "FormSubmissions!A2",
        "name": "Add row",
        "x": 820,
        "y": 180,
        "wires": [
            [
                "9a3de1b4.705f78"
            ]
        ]
    },
    {
        "id": "8393c236.520e28",
        "type": "change",
        "z": "7f949f4.debdf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.[costcutterAccountNumber, storeName, storeAddress, storePostcode, storeContactName, storeContactNumber, bdmName, bdmEmail, branding, floorstandingQuantity, tabletopQuantity, solutionType, solutionQuantity, shippingChargesAcknowledge]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "56d2626e.a70a8c"
            ]
        ]
    },
    {
        "id": "fd5122c6.487b78",
        "type": "http response",
        "z": "7f949f4.debdf6",
        "name": "Send http response",
        "statusCode": "200",
        "headers": {},
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "ad745ac7.371798",
        "type": "http request",
        "z": "7f949f4.debdf6",
        "name": "POST to Excel",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://prod-08.uksouth.logic.azure.com:443/workflows/f844dc78c2af462cbae56f1722c2cf04/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=KlVJp9P7LNzH3tkw2Vmzot7P4-LnNHyr_3B4iioBApk",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 800,
        "y": 240,
        "wires": [
            [
                "9a3de1b4.705f78"
            ]
        ]
    },
    {
        "id": "1afcf994.1fa71e",
        "type": "simpletime",
        "z": "7f949f4.debdf6",
        "name": "",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "cf6c5a6.742c3a8"
            ]
        ]
    },
    {
        "id": "cf6c5a6.742c3a8",
        "type": "function",
        "z": "7f949f4.debdf6",
        "name": "Add time to Payload",
        "func": "var rawTime = msg.myrawdate;\n\nmsg.payload.rawTime = rawTime;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "ad745ac7.371798"
            ]
        ]
    },
    {
        "id": "ce0c78cf.c533a8",
        "type": "inject",
        "z": "812297d7.4a626",
        "name": "Check number of leads",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "5ed37ee.a3b688"
            ]
        ]
    },
    {
        "id": "6421adcb.0955c4",
        "type": "http request",
        "z": "812297d7.4a626",
        "name": "Get Total Leads",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api-v1.prospect365.com/Leads/$count?$filter=contains(Description, 'sanitiser')",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "487d1d1b.8aac24"
            ]
        ]
    },
    {
        "id": "545322c5.f9f2c4",
        "type": "debug",
        "z": "812297d7.4a626",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "487d1d1b.8aac24",
        "type": "GSheet",
        "z": "812297d7.4a626",
        "creds": "8acedcb.f54ab2",
        "method": "update",
        "action": "",
        "sheet": "1un-cRNKri9mc5K32EdyrPmrILUekxj1sIqZXFW79GDE",
        "cells": "Sheet1!B2",
        "name": "Add Total leads",
        "x": 840,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ca8d72a1.abc65",
        "type": "GSheet",
        "z": "812297d7.4a626",
        "creds": "8acedcb.f54ab2",
        "method": "update",
        "action": "",
        "sheet": "1un-cRNKri9mc5K32EdyrPmrILUekxj1sIqZXFW79GDE",
        "cells": "Sheet1!C2",
        "name": "Add Web leads",
        "x": 850,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "66d9c603.0ee2d8",
        "type": "http request",
        "z": "812297d7.4a626",
        "name": "Get Web Leads",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api-v1.prospect365.com/Leads/$count?&$filter=contains(SourceId, 'WEB') and contains(Description, 'sanitiser')",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "ca8d72a1.abc65"
            ]
        ]
    },
    {
        "id": "5ed37ee.a3b688",
        "type": "function",
        "z": "812297d7.4a626",
        "name": "Set Bearer Token",
        "func": "msg.headers = {\n    Authorization: \"Bearer \"+\"a187f0827402b6e7be3da3bbb7835d71\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "66d9c603.0ee2d8",
                "6421adcb.0955c4",
                "4d689715.a814c8",
                "8efbab7.8121bd8"
            ]
        ]
    },
    {
        "id": "317bf520.89ce9a",
        "type": "GSheet",
        "z": "812297d7.4a626",
        "creds": "8acedcb.f54ab2",
        "method": "update",
        "action": "",
        "sheet": "1un-cRNKri9mc5K32EdyrPmrILUekxj1sIqZXFW79GDE",
        "cells": "Sheet1!D2",
        "name": "Add Newsletter leads",
        "x": 870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4d689715.a814c8",
        "type": "http request",
        "z": "812297d7.4a626",
        "name": "Get Newsletter Leads",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api-v1.prospect365.com/Leads/$count?&$filter=contains(SourceId, 'E-SHOT') and contains(Description, 'sanitiser')",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "317bf520.89ce9a"
            ]
        ]
    },
    {
        "id": "4a75f887.2633b8",
        "type": "GSheet",
        "z": "812297d7.4a626",
        "creds": "8acedcb.f54ab2",
        "method": "update",
        "action": "",
        "sheet": "1un-cRNKri9mc5K32EdyrPmrILUekxj1sIqZXFW79GDE",
        "cells": "Sheet1!E2",
        "name": "Add Direct Email leads",
        "x": 870,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8efbab7.8121bd8",
        "type": "http request",
        "z": "812297d7.4a626",
        "name": "Get Newsletter Leads",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api-v1.prospect365.com/Leads/$count?&$filter=contains(SourceId, '8ac76c') and contains(Description, 'sanitiser')",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 600,
        "y": 300,
        "wires": [
            [
                "4a75f887.2633b8"
            ]
        ]
    },
    {
        "id": "d3932164.25316",
        "type": "bigquery insert",
        "z": "15a0d5c9.3b9b92",
        "bigquery": "e288eb3f.29a54",
        "dataset": "Critica_Data",
        "table": "Sales",
        "name": "Write Critica to BigQuery",
        "x": 1210,
        "y": 540,
        "wires": []
    },
    {
        "id": "400fe382.8249a4",
        "type": "change",
        "z": "15a0d5c9.3b9b92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "927b56f.166ba28"
            ]
        ]
    },
    {
        "id": "c8f2f40e.6c8f",
        "type": "inject",
        "z": "15a0d5c9.3b9b92",
        "name": "",
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "400fe382.8249a4"
            ]
        ]
    },
    {
        "id": "927b56f.166ba28",
        "type": "moment",
        "z": "15a0d5c9.3b9b92",
        "name": "",
        "topic": "",
        "input": "time",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": "1",
        "adjType": "hours",
        "adjDir": "add",
        "format": "YYYY-MM-DDTHH:mm:ss",
        "locale": "en_US",
        "output": "real_timezone",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "d56f6434.5abe78"
            ]
        ]
    },
    {
        "id": "ea3033fc.83a9f8",
        "type": "function",
        "z": "15a0d5c9.3b9b92",
        "name": "Set rejectUnauthorized",
        "func": "msg.rejectUnauthorized = false; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 480,
        "wires": [
            [
                "ba34566c.37a9"
            ]
        ]
    },
    {
        "id": "ba34566c.37a9",
        "type": "http request",
        "z": "15a0d5c9.3b9b92",
        "name": "Get Yesterday's sale from Critica",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://critica.promate.com/odata/ODataFilters/{{{real_timezone_minus10mins}}}_{{{real_timezone}}}?$orderby=TxTime",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 740,
        "y": 540,
        "wires": [
            [
                "894bc035.4b7e"
            ]
        ],
        "info": "https://critica.promate.com/odata/ODataFilters/{{{real_timezone_minus10mins}}}_{{{real_timezone}}}?$orderby=TxTime"
    },
    {
        "id": "d56f6434.5abe78",
        "type": "moment",
        "z": "15a0d5c9.3b9b92",
        "name": "",
        "topic": "",
        "input": "real_timezone",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": "10",
        "adjType": "minutes",
        "adjDir": "subtract",
        "format": "YYYY-MM-DDTHH:mm:ss",
        "locale": "en_US",
        "output": "real_timezone_minus10mins",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 420,
        "y": 540,
        "wires": [
            [
                "ea3033fc.83a9f8"
            ]
        ]
    },
    {
        "id": "894bc035.4b7e",
        "type": "bigsplitter",
        "z": "15a0d5c9.3b9b92",
        "name": "Split Array",
        "property": "payload.value",
        "x": 990,
        "y": 540,
        "wires": [
            [
                "1e21880e.6a5cd8",
                "d3932164.25316",
                "399e7340.952dac"
            ],
            []
        ]
    },
    {
        "id": "7ff373af.627c2c",
        "type": "AWS SQS",
        "z": "15a0d5c9.3b9b92",
        "aws": "a76d987b.d992d",
        "operation": "SendMessage",
        "QueueUrl": "https://sqs.eu-west-1.amazonaws.com/935852492816/Nayax-DEX-backup",
        "Label": "",
        "AWSAccountIds": "",
        "Actions": "",
        "ReceiptHandle": "",
        "VisibilityTimeout": "",
        "Entries": "",
        "QueueName": "",
        "MessageBody": "",
        "Attributes": "",
        "Tags": "",
        "TagKeys": "",
        "name": "Backup message",
        "x": 870,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "662a9a55.280364",
        "type": "function",
        "z": "15a0d5c9.3b9b92",
        "name": "Generate Back-up messages",
        "func": "msg.MessageBody=msg.payload.Body;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "7ff373af.627c2c"
            ]
        ]
    },
    {
        "id": "56d93b70.c03fe4",
        "type": "delay",
        "z": "15a0d5c9.3b9b92",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "77ce4b39.6b57b4"
            ]
        ]
    },
    {
        "id": "f5a61760.2178",
        "type": "comment",
        "z": "15a0d5c9.3b9b92",
        "name": "Critica",
        "info": "",
        "x": 130,
        "y": 420,
        "wires": []
    },
    {
        "id": "5eec15d5.84cfbc",
        "type": "comment",
        "z": "15a0d5c9.3b9b92",
        "name": "Nayax",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "b5427a8.4ebd888",
        "type": "http in",
        "z": "24aabfeb.a5fbb8",
        "name": "Receive Sendinblue unsubscribes",
        "url": "/unsubscribe",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "999e7ad5.7e3618",
                "8db2d7d.b345aa8",
                "99e65973.593d3"
            ]
        ]
    },
    {
        "id": "999e7ad5.7e3618",
        "type": "http response",
        "z": "24aabfeb.a5fbb8",
        "name": "Send http response",
        "statusCode": "200",
        "headers": {},
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "8db2d7d.b345aa8",
        "type": "debug",
        "z": "24aabfeb.a5fbb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1250,
        "y": 400,
        "wires": []
    },
    {
        "id": "afc47201.1a4e",
        "type": "http request",
        "z": "24aabfeb.a5fbb8",
        "name": "Find Contact in Prospectsoft",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api-batch-v1.prospect365.com/Contacts?&$filter=email eq '{{{payload}}}'&$select=ContactId",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "a2ef9556.5d06b8",
                "8db2d7d.b345aa8"
            ]
        ]
    },
    {
        "id": "2eb8fb87.fce404",
        "type": "http request",
        "z": "24aabfeb.a5fbb8",
        "name": "Change flag in Prospectsoft",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 1060,
        "y": 220,
        "wires": [
            [
                "8db2d7d.b345aa8"
            ]
        ]
    },
    {
        "id": "d63b205c.c31468",
        "type": "flogger",
        "z": "15a0d5c9.3b9b92",
        "name": "Logger",
        "logfile": "Nayax-SQS.log",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
        "loglevel": "INFO",
        "logconfig": "746e2d73.12c1c4",
        "sendpane": true,
        "x": 1160,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "399e7340.952dac",
        "type": "flogger",
        "z": "15a0d5c9.3b9b92",
        "name": "Critica Logger",
        "logfile": "Critica.log",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "inputmoustache": "Recieved payload {{payload}} and topic {{topic}}",
        "loglevel": "INFO",
        "logconfig": "746e2d73.12c1c4",
        "sendpane": true,
        "x": 1200,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "99e65973.593d3",
        "type": "change",
        "z": "24aabfeb.a5fbb8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.email",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "afc47201.1a4e"
            ]
        ]
    },
    {
        "id": "a2ef9556.5d06b8",
        "type": "function",
        "z": "24aabfeb.a5fbb8",
        "name": "Build http request",
        "func": "msg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.url = \"https://api-batch-v1.prospect365.com/ContactXtras(\" + msg.payload.value[0].ContactId + \")\";\nmsg.method = \"PATCH\";\nmsg.payload = '{ \"EPEmailFlag\": 0 }';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 810,
        "y": 220,
        "wires": [
            [
                "2eb8fb87.fce404"
            ]
        ]
    },
    {
        "id": "e43b1949.e22938",
        "type": "http response",
        "z": "24aabfeb.a5fbb8",
        "name": "Send http response",
        "statusCode": "200",
        "headers": {},
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "93f09f59.ec147",
        "type": "http in",
        "z": "24aabfeb.a5fbb8",
        "name": "Receive Sendinblue new contacts",
        "url": "/ps_contactxtra_update",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "e43b1949.e22938"
            ]
        ]
    },
    {
        "id": "9e5ca125.9314c8",
        "type": "http in",
        "z": "5eb044a.67306bc",
        "name": "Heartbeat API monitoring",
        "url": "/heartbeat",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "a01be39c.33a4e"
            ]
        ]
    },
    {
        "id": "a01be39c.33a4e",
        "type": "http response",
        "z": "5eb044a.67306bc",
        "name": "Send http response",
        "statusCode": "200",
        "headers": {},
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "8c6abfcd.570ea8",
        "type": "http in",
        "z": "24aabfeb.a5fbb8",
        "name": "Receive ProspectSoft ContactXtra updates",
        "url": "/ps_contactxtra_update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "9798be11.c642",
                "e1e9087f.4eb04",
                "8db2d7d.b345aa8"
            ]
        ]
    },
    {
        "id": "9798be11.c642",
        "type": "http response",
        "z": "24aabfeb.a5fbb8",
        "name": "Send http response",
        "statusCode": "200",
        "headers": {},
        "x": 160,
        "y": 400,
        "wires": []
    },
    {
        "id": "e1e9087f.4eb04",
        "type": "switch",
        "z": "24aabfeb.a5fbb8",
        "name": "Check if EPEmailFlag has updates",
        "property": "payload.updatedFields",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "EPEmailFlag",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "1df8350e.8be893"
            ]
        ]
    },
    {
        "id": "1df8350e.8be893",
        "type": "switch",
        "z": "24aabfeb.a5fbb8",
        "name": "Check flag status",
        "property": "payload.updatedEntity.epEmailFlag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "e27c1ec3.9b2f2"
            ],
            [
                "82ac1677.fb98b8"
            ]
        ],
        "info": "Check the new flag status"
    },
    {
        "id": "33011f4c.d3444",
        "type": "function",
        "z": "24aabfeb.a5fbb8",
        "name": "Build http request",
        "func": "msg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/contacts/\"+msg.payload.email+\"\";\nmsg.method = \"PUT\";\nmsg.payload = '{\"emailBlacklisted\": false}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 970,
        "y": 480,
        "wires": [
            [
                "53be66b7.39eb2"
            ]
        ]
    },
    {
        "id": "53be66b7.39eb2",
        "type": "http request",
        "z": "24aabfeb.a5fbb8",
        "name": "Change flag in Sendinblue",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 1220,
        "y": 520,
        "wires": [
            [
                "8db2d7d.b345aa8"
            ]
        ]
    },
    {
        "id": "bd5180e1.ca4e2",
        "type": "http request",
        "z": "db823d6a.3762f",
        "name": "Find Contact in Prospectsoft",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 700,
        "y": 80,
        "wires": [
            [
                "e334f6ac.0af0e8"
            ]
        ]
    },
    {
        "id": "fecb4035.9d3958",
        "type": "change",
        "z": "db823d6a.3762f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.updatedEntity.contactId",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "786c217.c52a7e"
            ]
        ]
    },
    {
        "id": "786c217.c52a7e",
        "type": "function",
        "z": "db823d6a.3762f",
        "name": "Build http request",
        "func": "msg.headers = {\n      Authorization: \"Bearer a187f0827402b6e7be3da3bbb7835d71\"\n};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.url = \"https://api-batch-v1.prospect365.com/Contacts(\"+ msg.payload +\")?$expand=Division($select=Name)\";\nmsg.method = \"GET\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "bd5180e1.ca4e2"
            ]
        ]
    },
    {
        "id": "e334f6ac.0af0e8",
        "type": "function",
        "z": "db823d6a.3762f",
        "name": "Encode Email",
        "func": "var encEmail = encodeURIComponent(msg.payload.value[0].Email)\nmsg.payload.email = encEmail;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 80,
        "wires": [
            [
                "587b6da8.c69b54"
            ]
        ]
    },
    {
        "id": "56dd6377.0ba17c",
        "type": "function",
        "z": "24aabfeb.a5fbb8",
        "name": "Build http request",
        "func": "msg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/contacts/\"+ msg.payload.email +\"\";\nmsg.method = \"PUT\";\nmsg.payload = '{\"emailBlacklisted\": true}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 970,
        "y": 560,
        "wires": [
            [
                "53be66b7.39eb2"
            ]
        ]
    },
    {
        "id": "e27c1ec3.9b2f2",
        "type": "subflow:db823d6a.3762f",
        "z": "24aabfeb.a5fbb8",
        "name": "Find contact in ProspectSoft",
        "env": [],
        "x": 720,
        "y": 480,
        "wires": [
            [
                "33011f4c.d3444"
            ]
        ]
    },
    {
        "id": "82ac1677.fb98b8",
        "type": "subflow:db823d6a.3762f",
        "z": "24aabfeb.a5fbb8",
        "name": "Find contact in ProspectSoft",
        "env": [],
        "x": 720,
        "y": 560,
        "wires": [
            [
                "56dd6377.0ba17c"
            ]
        ]
    },
    {
        "id": "3b451848.8989c",
        "type": "http response",
        "z": "d5875f98.4f265",
        "name": "Send http response",
        "statusCode": "200",
        "headers": {},
        "x": 210,
        "y": 140,
        "wires": []
    },
    {
        "id": "1278ac9f.bc408b",
        "type": "http in",
        "z": "d5875f98.4f265",
        "name": "Receive New Visit Report",
        "url": "/new_visit_report",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "3b451848.8989c",
                "7bb1fffd.a8a958",
                "e2447185.d677e"
            ]
        ]
    },
    {
        "id": "7bb1fffd.a8a958",
        "type": "debug",
        "z": "d5875f98.4f265",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "f906922a.bf1c28",
        "type": "function",
        "z": "d5875f98.4f265",
        "name": "Build http request",
        "func": "var reportAddress = flow.get([\"reportURL\"]);\nvar machineType = flow.get([\"machineType\"]);\nvar machineCleanliness = flow.get([\"machineCleanliness\"]);\nvar posCondition = flow.get([\"posCondition\"]);\nvar signoffSheets = flow.get([\"signoffSheets\"])\nvar trainingRequired = flow.get([\"trainingRequired\"]);\nvar operatingManual = flow.get([\"operatingManual\"]);\nvar author = flow.get(['author']);\nvar site = flow.get(['site']);\nvar reportWebLink = flow.get(['reportWebLink']);\nvar visitScore = flow.get(['visitScore']);\nvar serialNo = flow.get(['serialNo']);\nvar date_completed = flow.get(['date_completed']);\nvar feedback = flow.get(['feedback']);\nvar visitStatus = flow.get(['visitStatus']);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"accept\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/smtp/email\";\nmsg.method = \"POST\";\nmsg.payload= '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"alex.perjescu@expressoplus.com\",\"name\":\"Alex Perjescu\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"'+reportAddress+'\"}],\"templateId\":10,\"subject\":\"'+ site +' - '+ visitStatus + visitScore +'%\",\"params\":{\"site\":\"' + site + '\",\"machineType\":\"' + machineType + '\",\"score\":\"' + visitScore +'\",\"posCondition\":\"' + posCondition +'\",\"machineCleanliness\":\"'+ machineCleanliness +'\",\"operatingManual\":\"' + operatingManual + '\",\"signoffSheets\":\"' + signoffSheets + '\",\"trainingRequired\":\"' + trainingRequired + '\",\"author\":\"' + author +'\",\"reportWebLink\":\"' + reportWebLink + '\",\"serialNo\":\"' + serialNo + '\",\"date_completed\":\"'+ date_completed +'\",\"feedback\":\"'+ feedback +'\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 580,
        "wires": [
            [
                "6ce6e687.ff1c08"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "7c5df7ea.b03aa",
        "type": "function",
        "z": "d5875f98.4f265",
        "name": "Filter info for email",
        "func": "msg.payload.machineType = msg.payload.header_items.filter(el => el.label.includes(\"Machine Type\"));\nmsg.payload.posCondition = msg.payload.items.filter(el => el.label.includes(\"point of sale is in good condition\"));\nmsg.payload.operatingManual = msg.payload.items.filter(el => el.label.includes(\"has an Operating Manual\"));\nmsg.payload.trainingRequired = msg.payload.items.filter(el => el.label.includes(\"Has additional training been arranged?\"));\nmsg.payload.serialNo = msg.payload.header_items.filter(el => el.label == \"Machine Serial Number\");\nmsg.payload.machineCleanliness = msg.payload.items.filter(el => el.label.includes(\"What is the state of the machine's cleanliness\"));\nmsg.payload.feedback = msg.payload.items.filter(el => el.label.includes(\"Please detail all feedback\"));\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "4bed6e70.5c16b"
            ]
        ]
    },
    {
        "id": "6ce6e687.ff1c08",
        "type": "http request",
        "z": "d5875f98.4f265",
        "name": "Send email via Sendinblue",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 740,
        "y": 620,
        "wires": [
            [
                "7bb1fffd.a8a958"
            ]
        ]
    },
    {
        "id": "f9f5a52f.e98c48",
        "type": "function",
        "z": "d5875f98.4f265",
        "name": "Build PDF request",
        "func": "var auditID = flow.get([\"auditID\"]);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/report';\nmsg.method = 'POST';\nmsg.payload = '{\"format\": \"PDF\"}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "4a42db1e.436b54"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "4a42db1e.436b54",
        "type": "http request",
        "z": "d5875f98.4f265",
        "name": "Request audit PDF",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 380,
        "wires": [
            [
                "a9547dfb.f2006"
            ]
        ]
    },
    {
        "id": "ca91b9c8.33a2f",
        "type": "function",
        "z": "d5875f98.4f265",
        "name": "Check if PDF ready",
        "func": "var auditID = flow.get([\"auditID\"]);\nvar messageID = flow.get([\"messageID\"])\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/report/' + messageID;\nmsg.method = 'GET';\nmsg.payload = '{\"format\": \"PDF\"}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "f3282720.36b41"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "f3282720.36b41",
        "type": "http request",
        "z": "d5875f98.4f265",
        "name": "Request audit PDF",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 580,
        "wires": [
            [
                "8698fa0f.353f"
            ]
        ]
    },
    {
        "id": "8698fa0f.353f",
        "type": "switch",
        "z": "d5875f98.4f265",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "IN_PROGRESS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SUCCESS",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 620,
        "wires": [
            [
                "260933dd.34584c"
            ],
            [
                "f4623b82.b24378"
            ]
        ]
    },
    {
        "id": "260933dd.34584c",
        "type": "delay",
        "z": "d5875f98.4f265",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "ca91b9c8.33a2f"
            ]
        ]
    },
    {
        "id": "a9547dfb.f2006",
        "type": "change",
        "z": "d5875f98.4f265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "messageID",
                "pt": "flow",
                "to": "payload.messageId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "1c6d7cab.766933"
            ]
        ]
    },
    {
        "id": "f4623b82.b24378",
        "type": "change",
        "z": "d5875f98.4f265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportURL",
                "pt": "flow",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "f906922a.bf1c28"
            ]
        ]
    },
    {
        "id": "4bed6e70.5c16b",
        "type": "change",
        "z": "d5875f98.4f265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "machineType",
                "pt": "flow",
                "to": "payload.machineType[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "posCondition",
                "pt": "flow",
                "to": "payload.posCondition[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "operatingManual",
                "pt": "flow",
                "to": "payload.operatingManual[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "trainingRequired",
                "pt": "flow",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "author",
                "pt": "flow",
                "to": "payload.audit_data.authorship.author",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "site",
                "pt": "flow",
                "to": "payload.audit_data.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "auditID",
                "pt": "flow",
                "to": "payload.audit_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "visitScore",
                "pt": "flow",
                "to": "payload.audit_data.score_percentage",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "machineCleanliness",
                "pt": "flow",
                "to": "payload.machineCleanliness[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "signoffSheets",
                "pt": "flow",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date_completed",
                "pt": "flow",
                "to": "payload.audit_data.date_completed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "serialNo",
                "pt": "flow",
                "to": "payload.serialNo[0].responses.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "feedback",
                "pt": "flow",
                "to": "payload.feedback[0].responses.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 140,
        "wires": [
            [
                "f9f5a52f.e98c48",
                "7bb1fffd.a8a958",
                "c68fa8f9.b9a94"
            ]
        ]
    },
    {
        "id": "1c6d7cab.766933",
        "type": "function",
        "z": "d5875f98.4f265",
        "name": "Get report web link",
        "func": "var auditID = flow.get([\"auditID\"]);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/web_report_link';\nmsg.method = 'GET';\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 440,
        "wires": [
            [
                "869677c.6442388"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "869677c.6442388",
        "type": "http request",
        "z": "d5875f98.4f265",
        "name": "Request report web link",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "a814e2d1.2317b8"
            ]
        ]
    },
    {
        "id": "a814e2d1.2317b8",
        "type": "change",
        "z": "d5875f98.4f265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportWebLink",
                "pt": "flow",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "260933dd.34584c"
            ]
        ]
    },
    {
        "id": "e24135ca.0ba438",
        "type": "http request",
        "z": "d5875f98.4f265",
        "name": "Request audit data",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "7c5df7ea.b03aa"
            ]
        ]
    },
    {
        "id": "cd17aac8.8918b8",
        "type": "function",
        "z": "d5875f98.4f265",
        "name": "Get full audit",
        "func": "var auditID = msg.payload.data.audit.audit_id;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '';\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "e24135ca.0ba438"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "e2447185.d677e",
        "type": "switch",
        "z": "d5875f98.4f265",
        "name": "",
        "property": "payload.data.template.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Audit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "cd17aac8.8918b8"
            ]
        ]
    },
    {
        "id": "9bce0d1c.3054e",
        "type": "comment",
        "z": "d5875f98.4f265",
        "name": "Staging",
        "info": "",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "c68fa8f9.b9a94",
        "type": "switch",
        "z": "d5875f98.4f265",
        "name": "",
        "property": "visitScore",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "70",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 220,
        "wires": [
            [
                "cde2952d.334c7"
            ],
            [
                "e27d668.75e1698"
            ]
        ]
    },
    {
        "id": "cde2952d.334c7",
        "type": "change",
        "z": "d5875f98.4f265",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "flow",
                "to": "Pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "f9f5a52f.e98c48"
            ]
        ]
    },
    {
        "id": "e27d668.75e1698",
        "type": "change",
        "z": "d5875f98.4f265",
        "name": "Fail",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "flow",
                "to": "Fail",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "f9f5a52f.e98c48"
            ]
        ]
    },
    {
        "id": "337db954.ac17de",
        "type": "function",
        "z": "24aabfeb.a5fbb8",
        "name": "Sendinblue: Check contact",
        "func": "var encodedEmail = global.get([\"encodedEmail\"]);\nmsg.headers = {};\nmsg.headers[\"accept\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/contacts/\" + encodedEmail + \"\";\nmsg.method = \"GET\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 720,
        "wires": [
            [
                "4185fb85.573e74"
            ]
        ]
    },
    {
        "id": "656488c5.6efae8",
        "type": "subflow:db823d6a.3762f",
        "z": "24aabfeb.a5fbb8",
        "name": "Find contact in ProspectSoft",
        "env": [],
        "x": 220,
        "y": 660,
        "wires": [
            [
                "337db954.ac17de"
            ]
        ]
    },
    {
        "id": "38f5b689.afb41a",
        "type": "switch",
        "z": "24aabfeb.a5fbb8",
        "name": "Check if EPEmailFlag has updates",
        "property": "payload.updatedFields",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "EPEmailFlag",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 660,
        "wires": [
            [
                "9e1805ab.73aff8"
            ]
        ]
    },
    {
        "id": "9e1805ab.73aff8",
        "type": "switch",
        "z": "24aabfeb.a5fbb8",
        "name": "Check flag status",
        "property": "payload.updatedEntity.epEmailFlag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 660,
        "wires": [
            [
                "21203b85.73cc6c"
            ],
            [
                "eb712a28.70267"
            ]
        ],
        "info": "Check the new flag status"
    },
    {
        "id": "21203b85.73cc6c",
        "type": "function",
        "z": "24aabfeb.a5fbb8",
        "name": "Sendinblue: Subscribe",
        "func": "var encodedEmail = flow.get([\"encodedEmail\"]);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/contacts/\" + encodedEmail +\"\";\nmsg.method = \"PUT\";\nmsg.payload = '{\"emailBlacklisted\": false}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "fa07495d.80911"
            ]
        ]
    },
    {
        "id": "eb712a28.70267",
        "type": "function",
        "z": "24aabfeb.a5fbb8",
        "name": "Sendinblue: Unsubscribe",
        "func": "var encodedEmail = flow.get([\"encodedEmail\"]);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/contacts/\" + encodedEmail +\"\";\nmsg.method = \"PUT\";\nmsg.payload = '{\"emailBlacklisted\": true}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1050,
        "y": 680,
        "wires": [
            [
                "fa07495d.80911"
            ]
        ]
    },
    {
        "id": "fa07495d.80911",
        "type": "http request",
        "z": "24aabfeb.a5fbb8",
        "name": "Change flag in Sendinblue",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 1340,
        "y": 660,
        "wires": [
            [
                "22a11941.38e21e"
            ]
        ]
    },
    {
        "id": "22a11941.38e21e",
        "type": "debug",
        "z": "24aabfeb.a5fbb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 820,
        "wires": []
    },
    {
        "id": "4185fb85.573e74",
        "type": "http request",
        "z": "24aabfeb.a5fbb8",
        "name": "Sendinblue: Check Contact",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 220,
        "y": 780,
        "wires": [
            [
                "5de060c1.6995c"
            ]
        ]
    },
    {
        "id": "9cb1536b.21cb08",
        "type": "function",
        "z": "a9d41dbe.70411",
        "name": "Build http request",
        "func": "var reportAddress = flow.get([\"reportURL\"]);\nvar machineType = flow.get([\"machineType\"]);\nvar machineCleanliness = flow.get([\"machineCleanliness\"]);\nvar posCondition = flow.get([\"posCondition\"]);\nvar signoffSheets = flow.get([\"signoffSheets\"])\nvar trainingRequired = flow.get([\"trainingRequired\"]);\nvar operatingManual = flow.get([\"operatingManual\"]);\nvar author = flow.get(['author']);\nvar site = flow.get(['site']);\nvar reportWebLink = flow.get(['reportWebLink']);\nvar visitScore = flow.get(['visitScore']);\nvar serialNo = flow.get(['serialNo']);\nvar date_completed = flow.get(['date_completed']);\nvar feedback = flow.get(['feedback']);\nvar visitStatus = flow.get(['visitStatus']);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"accept\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/smtp/email\";\nmsg.method = \"POST\";\nmsg.payload= '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"alex.perjescu@expressoplus.com\",\"name\":\"Alex Perjescu\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"'+reportAddress+'\"}],\"templateId\":10,\"subject\":\"'+ site +' - '+ visitStatus + visitScore +'%\",\"params\":{\"site\":\"' + site + '\",\"machineType\":\"' + machineType + '\",\"score\":\"' + visitScore +'\",\"posCondition\":\"' + posCondition +'\",\"machineCleanliness\":\"'+ machineCleanliness +'\",\"operatingManual\":\"' + operatingManual + '\",\"signoffSheets\":\"' + signoffSheets + '\",\"trainingRequired\":\"' + trainingRequired + '\",\"author\":\"' + author +'\",\"reportWebLink\":\"' + reportWebLink + '\",\"serialNo\":\"' + serialNo + '\",\"date_completed\":\"'+ date_completed +'\",\"feedback\":\"'+ feedback +'\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1690,
        "y": 760,
        "wires": [
            [
                "ecb10446.3cd218"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "bdaa595c.8f3228",
        "type": "function",
        "z": "a9d41dbe.70411",
        "name": "Filter info for email",
        "func": "msg.payload.machineType = msg.payload.header_items.filter(el => el.label.includes(\"Machine Type\"));\nmsg.payload.posCondition = msg.payload.items.filter(el => el.label.includes(\"point of sale is in good condition\"));\nmsg.payload.operatingManual = msg.payload.items.filter(el => el.label.includes(\"has an Operating Manual\"));\nmsg.payload.trainingRequired = msg.payload.items.filter(el => el.label.includes(\"Has additional training been arranged?\"));\nmsg.payload.serialNo = msg.payload.header_items.filter(el => el.label == \"Machine Serial Number\");\nmsg.payload.machineCleanliness = msg.payload.items.filter(el => el.label.includes(\"What is the state of the machine's cleanliness\"));\nmsg.payload.feedback = msg.payload.items.filter(el => el.label.includes(\"Please detail all feedback\"));\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1450,
        "y": 460,
        "wires": [
            [
                "66f2bc0.64bfd44"
            ]
        ]
    },
    {
        "id": "ecb10446.3cd218",
        "type": "http request",
        "z": "a9d41dbe.70411",
        "name": "Send email via Sendinblue",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1720,
        "y": 800,
        "wires": [
            [
                "87507835.f214d8"
            ]
        ]
    },
    {
        "id": "bb4a23d0.ea2908",
        "type": "function",
        "z": "a9d41dbe.70411",
        "name": "Build PDF request",
        "func": "var auditID = flow.get([\"auditID\"]);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/report';\nmsg.method = 'POST';\nmsg.payload = '{\"format\": \"PDF\"}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1450,
        "y": 520,
        "wires": [
            [
                "aec1a2b7.0ffe"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "aec1a2b7.0ffe",
        "type": "http request",
        "z": "a9d41dbe.70411",
        "name": "Request audit PDF",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1450,
        "y": 560,
        "wires": [
            [
                "902f3077.c36818"
            ]
        ]
    },
    {
        "id": "ed5fa409.2a7f8",
        "type": "function",
        "z": "a9d41dbe.70411",
        "name": "Check if PDF ready",
        "func": "var auditID = flow.get([\"auditID\"]);\nvar messageID = flow.get([\"messageID\"])\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/report/' + messageID;\nmsg.method = 'GET';\nmsg.payload = '{\"format\": \"PDF\"}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1450,
        "y": 720,
        "wires": [
            [
                "dc6d2d5e.c72098"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "dc6d2d5e.c72098",
        "type": "http request",
        "z": "a9d41dbe.70411",
        "name": "Request audit PDF",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1450,
        "y": 760,
        "wires": [
            [
                "e535f786.a3f44"
            ]
        ]
    },
    {
        "id": "e535f786.a3f44",
        "type": "switch",
        "z": "a9d41dbe.70411",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "IN_PROGRESS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SUCCESS",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1210,
        "y": 800,
        "wires": [
            [
                "ba059c5b.1e6fb8"
            ],
            [
                "eb039dc5.473368"
            ]
        ]
    },
    {
        "id": "ba059c5b.1e6fb8",
        "type": "delay",
        "z": "a9d41dbe.70411",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1180,
        "y": 660,
        "wires": [
            [
                "ed5fa409.2a7f8"
            ]
        ]
    },
    {
        "id": "902f3077.c36818",
        "type": "change",
        "z": "a9d41dbe.70411",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "messageID",
                "pt": "flow",
                "to": "payload.messageId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 560,
        "wires": [
            [
                "f5b4dedf.a235d8"
            ]
        ]
    },
    {
        "id": "eb039dc5.473368",
        "type": "change",
        "z": "a9d41dbe.70411",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportURL",
                "pt": "flow",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 800,
        "wires": [
            [
                "9cb1536b.21cb08"
            ]
        ]
    },
    {
        "id": "66f2bc0.64bfd44",
        "type": "change",
        "z": "a9d41dbe.70411",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "machineType",
                "pt": "flow",
                "to": "payload.machineType[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "posCondition",
                "pt": "flow",
                "to": "payload.posCondition[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "operatingManual",
                "pt": "flow",
                "to": "payload.operatingManual[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "trainingRequired",
                "pt": "flow",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "author",
                "pt": "flow",
                "to": "payload.audit_data.authorship.author",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "site",
                "pt": "flow",
                "to": "payload.audit_data.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "auditID",
                "pt": "flow",
                "to": "payload.audit_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "visitScore",
                "pt": "flow",
                "to": "payload.audit_data.score_percentage",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "machineCleanliness",
                "pt": "flow",
                "to": "payload.machineCleanliness[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "signoffSheets",
                "pt": "flow",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date_completed",
                "pt": "flow",
                "to": "payload.audit_data.date_completed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "serialNo",
                "pt": "flow",
                "to": "payload.serialNo[0].responses.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "feedback",
                "pt": "flow",
                "to": "payload.feedback[0].responses.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 320,
        "wires": [
            [
                "bb4a23d0.ea2908",
                "ee1c1547.ce454",
                "87507835.f214d8"
            ]
        ]
    },
    {
        "id": "f5b4dedf.a235d8",
        "type": "function",
        "z": "a9d41dbe.70411",
        "name": "Get report web link",
        "func": "var auditID = flow.get([\"auditID\"]);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/web_report_link';\nmsg.method = 'GET';\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1450,
        "y": 620,
        "wires": [
            [
                "ebe0491.f24fc38"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "ebe0491.f24fc38",
        "type": "http request",
        "z": "a9d41dbe.70411",
        "name": "Request report web link",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1470,
        "y": 660,
        "wires": [
            [
                "86af6d3a.dd361"
            ]
        ]
    },
    {
        "id": "86af6d3a.dd361",
        "type": "change",
        "z": "a9d41dbe.70411",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportWebLink",
                "pt": "flow",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 660,
        "wires": [
            [
                "ba059c5b.1e6fb8"
            ]
        ]
    },
    {
        "id": "1f6b5f8d.2e59b8",
        "type": "http request",
        "z": "a9d41dbe.70411",
        "name": "Request audit data",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1450,
        "y": 400,
        "wires": [
            [
                "bdaa595c.8f3228"
            ]
        ]
    },
    {
        "id": "3b0c7b27.0ab384",
        "type": "function",
        "z": "a9d41dbe.70411",
        "name": "Get full audit",
        "func": "var auditID = msg.payload.data.audit.audit_id;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '';\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1430,
        "y": 360,
        "wires": [
            [
                "1f6b5f8d.2e59b8"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "de5162f3.fd9808",
        "type": "switch",
        "z": "a9d41dbe.70411",
        "name": "",
        "property": "payload.data.template.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Audit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1430,
        "y": 300,
        "wires": [
            [
                "3b0c7b27.0ab384"
            ]
        ]
    },
    {
        "id": "54606a4a.9c338c",
        "type": "comment",
        "z": "a9d41dbe.70411",
        "name": "Staging",
        "info": "",
        "x": 1180,
        "y": 480,
        "wires": []
    },
    {
        "id": "ee1c1547.ce454",
        "type": "switch",
        "z": "a9d41dbe.70411",
        "name": "",
        "property": "visitScore",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "70",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1710,
        "y": 400,
        "wires": [
            [
                "ce5cffe0.7451b"
            ],
            [
                "538b6066.077d58"
            ]
        ]
    },
    {
        "id": "ce5cffe0.7451b",
        "type": "change",
        "z": "a9d41dbe.70411",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "flow",
                "to": "Pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 440,
        "wires": [
            [
                "bb4a23d0.ea2908"
            ]
        ]
    },
    {
        "id": "538b6066.077d58",
        "type": "change",
        "z": "a9d41dbe.70411",
        "name": "Fail",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "flow",
                "to": "Fail",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 480,
        "wires": [
            [
                "bb4a23d0.ea2908"
            ]
        ]
    },
    {
        "id": "87507835.f214d8",
        "type": "debug",
        "z": "a9d41dbe.70411",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1970,
        "y": 280,
        "wires": []
    },
    {
        "id": "6e7de414.bbf93c",
        "type": "delay",
        "z": "a9d41dbe.70411",
        "name": "",
        "pauseType": "delay",
        "timeout": "29",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1210,
        "y": 260,
        "wires": [
            [
                "de5162f3.fd9808"
            ]
        ]
    },
    {
        "id": "e6174385.18e6c",
        "type": "inject",
        "z": "24aabfeb.a5fbb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"previousEntity\":{\"contactId\":366411,\"lastUpdatedTimestamp\":\"2020-07-31T09:35:37.974\",\"lastUpdated\":\"2020-07-31T09:35:37.974\",\"lastUpdatedByUserId\":\"APE\",\"created\":\"2019-10-02T09:34:30.92\",\"createdByUserId\":\"APE\",\"systemObjectsKey\":\"366411\",\"authority\":null,\"epMailFlag\":null,\"epFaxFlag\":null,\"epEmailFlag\":0,\"epOptIn\":null,\"epSwapMailFalg\":null,\"standardTextField1\":null,\"standardTextField2\":null,\"standardTextField3\":null,\"standardTextField4\":null,\"standardTextField5\":null,\"standardTextField6\":null,\"standardTextField7\":null,\"standardTextField8\":null,\"standardTextField9\":null,\"standardTextField10\":null,\"standardDecimalField1\":null,\"standardDecimalField2\":null,\"standardDecimalField3\":null,\"standardDecimalField4\":null,\"standardDecimalField5\":null,\"standardDateField1\":null,\"standardDateField2\":null,\"standardDateField3\":null,\"standardDateField4\":null,\"standardDateField5\":null,\"standardFlagField1\":null,\"standardFlagField2\":null,\"standardFlagField3\":null,\"standardFlagField4\":null,\"standardFlagField5\":null,\"standardMemoField1\":null,\"standardMemoField2\":null,\"standardMemoField3\":null,\"standardMemoField4\":null,\"standardMemoField5\":null,\"standardSearchTextField1\":null,\"standardSearchTextField2\":null,\"standardSearchTextField3\":null},\"updatedEntity\":{\"contactId\":366411,\"lastUpdatedTimestamp\":\"2020-07-31T09:35:37.974\",\"lastUpdated\":\"2020-07-31T09:35:37.974\",\"lastUpdatedByUserId\":\"APE\",\"created\":\"2019-10-02T09:34:30.92\",\"createdByUserId\":\"APE\",\"systemObjectsKey\":\"366411\",\"authority\":null,\"epMailFlag\":null,\"epFaxFlag\":null,\"epEmailFlag\":1,\"epOptIn\":null,\"epSwapMailFalg\":null,\"standardTextField1\":null,\"standardTextField2\":null,\"standardTextField3\":null,\"standardTextField4\":null,\"standardTextField5\":null,\"standardTextField6\":null,\"standardTextField7\":null,\"standardTextField8\":null,\"standardTextField9\":null,\"standardTextField10\":null,\"standardDecimalField1\":null,\"standardDecimalField2\":null,\"standardDecimalField3\":null,\"standardDecimalField4\":null,\"standardDecimalField5\":null,\"standardDateField1\":null,\"standardDateField2\":null,\"standardDateField3\":null,\"standardDateField4\":null,\"standardDateField5\":null,\"standardFlagField1\":null,\"standardFlagField2\":null,\"standardFlagField3\":null,\"standardFlagField4\":null,\"standardFlagField5\":null,\"standardMemoField1\":null,\"standardMemoField2\":null,\"standardMemoField3\":null,\"standardMemoField4\":null,\"standardMemoField5\":null,\"standardSearchTextField1\":null,\"standardSearchTextField2\":null,\"standardSearchTextField3\":null},\"updatedFields\":[\"EPEmailFlag\"],\"action\":\"entityUpdated\",\"happenedAtUtc\":\"2020-08-03T11:13:41.9042955Z\",\"triggeredByUser\":{\"id\":315328,\"name\":\"Alex Perjescu\",\"email\":\"alex.perjescu@expressoplus.com\",\"userCode\":\"APE\"},\"entityType\":\"ContactXtra\",\"entityIdProperties\":[\"ContactId\"],\"entityODataLink\":\"https://api-v1.prospect365.com/ContactXtras(ContactId=366411)\"}",
        "payloadType": "json",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "656488c5.6efae8"
            ]
        ]
    },
    {
        "id": "5de060c1.6995c",
        "type": "switch",
        "z": "24aabfeb.a5fbb8",
        "name": "Check if Contact exists in Sendinblue",
        "property": "payload.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Contact does not exist",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "38173afc.f8019e"
            ]
        ]
    },
    {
        "id": "38173afc.f8019e",
        "type": "function",
        "z": "24aabfeb.a5fbb8",
        "name": "Sendinblue: Create contact",
        "func": "var email = global.get([\"email\"]);\nvar FIRSTNAME = global.get([\"firstName\"]);\nvar LASTNAME = global.get([\"lastName\"]);\nvar COMPANY = global.get([\"companyName\"]);\nmsg.headers = {};\nmsg.headers[\"accept\"] = \"application/json\";\nmsg.headers[\"content-type\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/contacts/\";\nmsg.method = \"POST\";\nmsg.payload = '{\"attributes\":{\"FIRSTNAME\":\"'+ FIRSTNAME +'\",\"LASTNAME\":\"'+ LASTNAME +'\",\"COMPANY\":\"'+ COMPANY +'\",\"TAGS\":\"ProspectSoft Update\"},\"updateEnabled\":true,\"email\":\"'+ email +'\",\"listIds\":[4]}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 760,
        "wires": [
            [
                "172c0222.d04d0e"
            ]
        ]
    },
    {
        "id": "172c0222.d04d0e",
        "type": "http request",
        "z": "24aabfeb.a5fbb8",
        "name": "Sendinblue: Create Contact",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1160,
        "y": 760,
        "wires": [
            [
                "22a11941.38e21e"
            ]
        ]
    },
    {
        "id": "587b6da8.c69b54",
        "type": "change",
        "z": "db823d6a.3762f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "firstName",
                "pt": "global",
                "to": "payload.value[0].Forename",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lastName",
                "pt": "global",
                "to": "payload.value[0].Surname",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "companyName",
                "pt": "global",
                "to": "payload.value[0].Division.Name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "encodedEmail",
                "pt": "global",
                "to": "payload.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "email",
                "pt": "global",
                "to": "payload.value[0].Email",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5beb589b.9abcb8",
        "type": "http response",
        "z": "81053105.60e14",
        "name": "Send http response",
        "statusCode": "200",
        "headers": {},
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "8cb09d4.17a5de",
        "type": "http in",
        "z": "81053105.60e14",
        "name": "Receive New Visit Report",
        "url": "/new_visit_report",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "5beb589b.9abcb8",
                "638f2202.d40f24",
                "74cc2a3f.9e7dfc"
            ]
        ]
    },
    {
        "id": "4e58bb34.031fa4",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "Check data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 220,
        "wires": []
    },
    {
        "id": "a5dd65d6.a54438",
        "type": "function",
        "z": "b6f41f64.a726c",
        "name": "Build http request",
        "func": "var reportAddress = flow.get([\"reportURL\"]);\nvar machineType = flow.get([\"machineType\"]);\nvar machineCleanliness = flow.get([\"machineCleanliness\"]);\nvar posCondition = flow.get([\"posCondition\"]);\nvar signoffSheets = flow.get([\"signoffSheets\"]);\nvar trainingRequired = flow.get([\"trainingRequired\"]);\nvar operatingManual = flow.get([\"operatingManual\"]);\nvar author = flow.get([\"author\"]);\nvar site = flow.get([\"site\"]);\nvar reportWebLink = flow.get([\"reportWebLink\"]);\nvar visitScore = flow.get([\"visitScore\"]).toString().slice(0, 5);\nvar serialNo = flow.get([\"serialNo\"]);\nvar date_completed = flow.get([\"date_completed\"]);\nvar dateCompleted = flow.get([\"date_completed\"]).toString().slice(0, 10);\nvar timeCompleted = flow.get([\"date_completed\"]).toString().slice(11, 19);\nvar rawFeedback = flow.get([\"feedback\"]);\nvar visitStatus = flow.get([\"visitStatus\"]);\nvar storeNumber = flow.get([\"storeNumber\"]);\nvar feedback = rawFeedback.toString().replace(/(\\r\\n|\\n|\\r)/gm, \" \");\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\";\nmsg.headers[\"accept\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/smtp/email\";\nmsg.method = \"POST\";\nmsg.payload= '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"epteam@expressoplus.com\",\"name\":\"eP Team\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"templateId\":22,\"subject\":\"'+ storeNumber +' '+ site +' | '+ visitStatus +' '+ visitScore +'%\",\"params\":{\"site\":\"' + site + '\",\"machineType\":\"' + machineType + '\",\"score\":\"' + visitScore +'\",\"posCondition\":\"' + posCondition +'\",\"machineCleanliness\":\"'+ machineCleanliness +'\",\"operatingManual\":\"' + operatingManual + '\",\"signoffSheets\":\"' + signoffSheets + '\",\"trainingRequired\":\"' + trainingRequired + '\",\"author\":\"' + author +'\",\"reportWebLink\":\"' + reportWebLink + '\",\"serialNo\":\"' + serialNo + '\",\"date_completed\":\"'+ dateCompleted +'\",\"time_completed\":\"'+ timeCompleted +'\",\"feedback\":\"'+ feedback +'\",\"visitStatus\":\"'+ visitStatus +'\",\"storeNumber\":\"'+ storeNumber +'\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "24e5fbd8.ce01ec",
                "e5e7fc01.57be28"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "f06e9db9.960308",
        "type": "function",
        "z": "b6f41f64.a726c",
        "name": "Filter info for email",
        "func": "msg.payload.machineType = msg.payload.header_items.filter(el => el.label.includes(\"Machine Type\"));\nmsg.payload.storeNumber = msg.payload.header_items.filter(el => el.label.includes(\"Store Number\"));\nmsg.payload.posCondition = msg.payload.items.filter(el => el.label.includes(\"point of sale is in good condition\"));\nmsg.payload.operatingManual = msg.payload.items.filter(el => el.label.includes(\"has an Operating Manual\"));\nmsg.payload.trainingRequired = msg.payload.items.filter(el => el.label.includes(\"Has additional training been arranged?\"));\nmsg.payload.serialNo = msg.payload.header_items.filter(el => el.label.includes(\"Machine Serial Number\"));\nmsg.payload.machineCleanliness = msg.payload.items.filter(el => el.label.includes(\"What is the state of the machine's cleanliness\"));\nmsg.payload.feedback = msg.payload.items.filter(el => el.label.includes(\"Please detail all feedback\"));\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 80,
        "wires": [
            [
                "7f59c24e.63e3bc"
            ]
        ]
    },
    {
        "id": "24e5fbd8.ce01ec",
        "type": "http request",
        "z": "b6f41f64.a726c",
        "name": "Send email via Sendinblue",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "a26a3468.ff3e4"
            ]
        ]
    },
    {
        "id": "f5cee338.2854d8",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportURL",
                "pt": "flow",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "a5dd65d6.a54438",
                "47cbc6a9.b4866"
            ]
        ]
    },
    {
        "id": "7f59c24e.63e3bc",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "machineType",
                "pt": "flow",
                "to": "payload.machineType[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "posCondition",
                "pt": "flow",
                "to": "payload.posCondition[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "operatingManual",
                "pt": "flow",
                "to": "payload.operatingManual[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "trainingRequired",
                "pt": "flow",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "author",
                "pt": "flow",
                "to": "payload.audit_data.authorship.owner",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "site",
                "pt": "flow",
                "to": "payload.audit_data.site.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "auditID",
                "pt": "flow",
                "to": "payload.audit_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "visitScore",
                "pt": "flow",
                "to": "payload.audit_data.score_percentage",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "machineCleanliness",
                "pt": "flow",
                "to": "payload.machineCleanliness[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "signoffSheets",
                "pt": "flow",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date_completed",
                "pt": "flow",
                "to": "payload.audit_data.date_completed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "serialNo",
                "pt": "flow",
                "to": "payload.serialNo[0].responses.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "feedback",
                "pt": "flow",
                "to": "payload.feedback[0].responses.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "storeNumber",
                "pt": "flow",
                "to": "payload.storeNumber[0].responses.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "4e58bb34.031fa4",
                "2673b4d5.63857c"
            ]
        ]
    },
    {
        "id": "159aa705.b6b809",
        "type": "http request",
        "z": "b6f41f64.a726c",
        "name": "Request audit data",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 730,
        "y": 80,
        "wires": [
            [
                "f06e9db9.960308"
            ]
        ]
    },
    {
        "id": "195e6733.ed6759",
        "type": "function",
        "z": "b6f41f64.a726c",
        "name": "Get full audit",
        "func": "var auditID = msg.payload.data.audit.audit_id;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '';\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "159aa705.b6b809"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "8421691a.0ccb88",
        "type": "switch",
        "z": "b6f41f64.a726c",
        "name": "",
        "property": "payload.data.template.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Audit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "195e6733.ed6759"
            ]
        ]
    },
    {
        "id": "cb6d7b6c.86cbd",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "Fail",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "flow",
                "to": "Fail",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "1776eefd.670291"
            ]
        ]
    },
    {
        "id": "3ad45c82.a5fde4",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "flow",
                "to": "Pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "1776eefd.670291"
            ]
        ]
    },
    {
        "id": "2673b4d5.63857c",
        "type": "switch",
        "z": "b6f41f64.a726c",
        "name": "",
        "property": "visitScore",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "70",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "3ad45c82.a5fde4"
            ],
            [
                "cb6d7b6c.86cbd"
            ]
        ]
    },
    {
        "id": "a26a3468.ff3e4",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "Report email status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "1776eefd.670291",
        "type": "function",
        "z": "b6f41f64.a726c",
        "name": "Get report web link",
        "func": "var auditID = flow.get([\"auditID\"]);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/web_report_link';\nmsg.method = 'GET';\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "d73b5479.5bea9",
                "f50a9c2f.43cf1"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "d73b5479.5bea9",
        "type": "http request",
        "z": "b6f41f64.a726c",
        "name": "Request report web link",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "3ce7d82c.85ed88"
            ]
        ]
    },
    {
        "id": "3ce7d82c.85ed88",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportWebLink",
                "pt": "flow",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 300,
        "wires": [
            [
                "f5cee338.2854d8",
                "100b1d5.ed72f63"
            ]
        ]
    },
    {
        "id": "22fc4e9a.40e8f2",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "e5e7fc01.57be28",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "e6be7649.01e178",
        "type": "function",
        "z": "2d331bcf.10f214",
        "name": "Build http request",
        "func": "var reportAddress = flow.get([\"reportURL\"]);\nvar machineType = flow.get([\"machineType\"]);\nvar machineCleanliness = flow.get([\"machineCleanliness\"]);\nvar posCondition = flow.get([\"posCondition\"]);\nvar signoffSheets = flow.get([\"signoffSheets\"]);\nvar trainingRequired = flow.get([\"trainingRequired\"]);\nvar operatingManual = flow.get([\"operatingManual\"]);\nvar author = flow.get([\"author\"]);\nvar site = flow.get([\"site\"]);\nvar reportWebLink = flow.get([\"reportWebLink\"]);\nvar visitScore = flow.get([\"visitScore\"]).toString().slice(0, 5);\nvar serialNo = flow.get([\"serialNo\"]);\nvar date_completed = flow.get([\"date_completed\"]);\nvar dateCompleted = flow.get([\"date_completed\"]).toString().slice(0, 10);\nvar timeCompleted = flow.get([\"date_completed\"]).toString().slice(11, 19);\nvar rawFeedback = flow.get([\"feedback\"]);\nvar visitStatus = flow.get([\"visitStatus\"]);\nvar storeNumber = flow.get([\"storeNumber\"]);\nvar score = flow.get([\"score\"]);\nvar maxScore = flow.get([\"maxScore\"]);\nvar feedback = rawFeedback.toString().replace(/(\\r\\n|\\n|\\r)/gm, \" \");\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\";\nmsg.headers[\"accept\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/smtp/email\";\nmsg.method = \"POST\";\nmsg.payload= '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"alex.perjescu@expressoplus.com\",\"name\":\"eP Team\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"templateId\":25,\"subject\":\"DEV: '+ storeNumber +' '+ site +' | '+ visitStatus +' '+ visitScore +'%\",\"params\":{\"site\":\"' + site + '\",\"machineType\":\"' + machineType + '\",\"visitScore\":\"' + visitScore +'\",\"posCondition\":\"' + posCondition +'\",\"machineCleanliness\":\"'+ machineCleanliness +'\",\"operatingManual\":\"' + operatingManual + '\",\"signoffSheets\":\"' + signoffSheets + '\",\"trainingRequired\":\"' + trainingRequired + '\",\"author\":\"' + author +'\",\"reportWebLink\":\"' + reportWebLink + '\",\"serialNo\":\"' + serialNo + '\",\"date_completed\":\"'+ dateCompleted +'\",\"time_completed\":\"'+ timeCompleted +'\",\"feedback\":\"'+ feedback +'\",\"visitStatus\":\"'+ visitStatus +'\",\"storeNumber\":\"'+ storeNumber +'\",\"score\":\"'+ score +'\",\"maxScore\":\"'+ maxScore +'\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "892efbc6.dde8e"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "d5aca29b.7b3aa8",
        "type": "function",
        "z": "2d331bcf.10f214",
        "name": "Filter info for email",
        "func": "msg.payload.machineType = msg.payload.header_items.filter(el => el.label.includes(\"Machine Type\"));\nmsg.payload.storeNumber = msg.payload.header_items.filter(el => el.label.includes(\"Store Number\"));\nmsg.payload.posCondition = msg.payload.items.filter(el => el.label.includes(\"point of sale is in good condition\"));\nmsg.payload.operatingManual = msg.payload.items.filter(el => el.label.includes(\"has an Operating Manual\"));\nmsg.payload.trainingRequired = msg.payload.items.filter(el => el.label.includes(\"Has additional training been arranged?\"));\nmsg.payload.serialNo = msg.payload.header_items.filter(el => el.label.includes(\"Machine Serial Number\"));\nmsg.payload.machineCleanliness = msg.payload.items.filter(el => el.label.includes(\"What is the state of the machine's cleanliness\"));\nmsg.payload.feedback = msg.payload.items.filter(el => el.label.includes(\"Please detail all feedback\"));\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 260,
        "wires": [
            [
                "79e3d2ac.5cf6e4"
            ]
        ]
    },
    {
        "id": "12d18f0.5b78d71",
        "type": "change",
        "z": "2d331bcf.10f214",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportURL",
                "pt": "flow",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "e6be7649.01e178"
            ]
        ]
    },
    {
        "id": "79e3d2ac.5cf6e4",
        "type": "change",
        "z": "2d331bcf.10f214",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "machineType",
                "pt": "flow",
                "to": "payload.machineType[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "posCondition",
                "pt": "flow",
                "to": "payload.posCondition[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "operatingManual",
                "pt": "flow",
                "to": "payload.operatingManual[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "trainingRequired",
                "pt": "flow",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "author",
                "pt": "flow",
                "to": "payload.audit_data.authorship.owner",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "site",
                "pt": "flow",
                "to": "payload.audit_data.site.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "auditID",
                "pt": "flow",
                "to": "payload.audit_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "visitScore",
                "pt": "flow",
                "to": "payload.audit_data.score_percentage",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "machineCleanliness",
                "pt": "flow",
                "to": "payload.machineCleanliness[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "signoffSheets",
                "pt": "flow",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date_completed",
                "pt": "flow",
                "to": "payload.audit_data.date_completed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "serialNo",
                "pt": "flow",
                "to": "payload.serialNo[0].responses.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "feedback",
                "pt": "flow",
                "to": "payload.feedback[0].responses.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "storeNumber",
                "pt": "flow",
                "to": "payload.storeNumber[0].responses.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "score",
                "pt": "flow",
                "to": "payload.audit_data.score",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "maxScore",
                "pt": "flow",
                "to": "payload.audit_data.total_score",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "6523e4ba.8b642c"
            ]
        ]
    },
    {
        "id": "890bee1.157bb1",
        "type": "change",
        "z": "2d331bcf.10f214",
        "name": "Fail",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "flow",
                "to": "Fail",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "4e80dbd8.5cdd64"
            ]
        ]
    },
    {
        "id": "ddd25ad7.dbab48",
        "type": "change",
        "z": "2d331bcf.10f214",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "flow",
                "to": "Pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "4e80dbd8.5cdd64"
            ]
        ]
    },
    {
        "id": "6523e4ba.8b642c",
        "type": "switch",
        "z": "2d331bcf.10f214",
        "name": "",
        "property": "visitScore",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "70",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "ddd25ad7.dbab48"
            ],
            [
                "890bee1.157bb1"
            ]
        ]
    },
    {
        "id": "e9b1fc27.f1962",
        "type": "debug",
        "z": "2d331bcf.10f214",
        "name": "Report email status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "4e80dbd8.5cdd64",
        "type": "function",
        "z": "2d331bcf.10f214",
        "name": "Get report web link",
        "func": "var auditID = flow.get([\"auditID\"]);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/web_report_link';\nmsg.method = 'GET';\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "70e7101d.ef5258"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "70e7101d.ef5258",
        "type": "http request",
        "z": "2d331bcf.10f214",
        "name": "Request report web link",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "150660bd.13c507"
            ]
        ]
    },
    {
        "id": "150660bd.13c507",
        "type": "change",
        "z": "2d331bcf.10f214",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportWebLink",
                "pt": "flow",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 380,
        "wires": [
            [
                "12d18f0.5b78d71"
            ]
        ]
    },
    {
        "id": "892efbc6.dde8e",
        "type": "http request",
        "z": "2d331bcf.10f214",
        "name": "Send email via Sendinblue",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 720,
        "y": 440,
        "wires": [
            [
                "e9b1fc27.f1962"
            ]
        ]
    },
    {
        "id": "8705a784.51e7b8",
        "type": "function",
        "z": "2d331bcf.10f214",
        "name": "Search audits",
        "func": "var lastHour = flow.get([\"timeSince\"]);\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/search?field=audit_id&field=modified_at&modified_after='+ lastHour +'';\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "aaf14768.ae697"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "aaf14768.ae697",
        "type": "http request",
        "z": "2d331bcf.10f214",
        "name": "Request audit data",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "52b9c4f7.7129dc",
                "8b7bb3da.e1622"
            ]
        ]
    },
    {
        "id": "cda9e3cb.27115",
        "type": "debug",
        "z": "2d331bcf.10f214",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "c288d2f5.6b4548",
        "type": "moment",
        "z": "2d331bcf.10f214",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "YYYY-MM-DD[T]HH:mm:ss.SSS[Z]",
        "locale": "en_US",
        "output": "timeSince",
        "outputType": "flow",
        "outTz": "Europe/London",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "8705a784.51e7b8",
                "90b88843.b3c6a8"
            ]
        ]
    },
    {
        "id": "52b9c4f7.7129dc",
        "type": "bigsplitter",
        "z": "2d331bcf.10f214",
        "name": "Split Array",
        "property": "payload.audits",
        "x": 670,
        "y": 160,
        "wires": [
            [
                "9e522239.c578d8",
                "cda9e3cb.27115"
            ],
            []
        ]
    },
    {
        "id": "9e522239.c578d8",
        "type": "delay",
        "z": "2d331bcf.10f214",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "10",
        "randomLast": "10",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 180,
        "wires": [
            [
                "c88a3638.4d7f7"
            ]
        ]
    },
    {
        "id": "c88a3638.4d7f7",
        "type": "function",
        "z": "2d331bcf.10f214",
        "name": "Get full audit",
        "func": "var auditID = msg.payload.audit_id;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '';\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "82eec10d.5cae2"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "82eec10d.5cae2",
        "type": "http request",
        "z": "2d331bcf.10f214",
        "name": "Request audit data",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "b238c6d7.9f615"
            ]
        ]
    },
    {
        "id": "4e98048d.78e934",
        "type": "debug",
        "z": "2d331bcf.10f214",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "b238c6d7.9f615",
        "type": "switch",
        "z": "2d331bcf.10f214",
        "name": "",
        "property": "payload.template_data.metadata.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Audit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "4e98048d.78e934",
                "d5aca29b.7b3aa8"
            ]
        ]
    },
    {
        "id": "8b7bb3da.e1622",
        "type": "debug",
        "z": "2d331bcf.10f214",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "d47ce1a4.77006",
        "type": "inject",
        "z": "2d331bcf.10f214",
        "d": true,
        "name": "Hourly trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "c288d2f5.6b4548",
                "90b88843.b3c6a8"
            ]
        ]
    },
    {
        "id": "90b88843.b3c6a8",
        "type": "debug",
        "z": "2d331bcf.10f214",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 180,
        "wires": []
    },
    {
        "id": "f50a9c2f.43cf1",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "100b1d5.ed72f63",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "47cbc6a9.b4866",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 400,
        "wires": []
    },
    {
        "id": "638f2202.d40f24",
        "type": "delay",
        "z": "81053105.60e14",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "c2427095.5e56d"
            ]
        ]
    },
    {
        "id": "c2427095.5e56d",
        "type": "switch",
        "z": "81053105.60e14",
        "name": "",
        "property": "payload.data.template.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Audit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "5cc10794.e50aa8",
                "2ee838f7.5afa8",
                "22653d15.67d1ca"
            ]
        ]
    },
    {
        "id": "5cc10794.e50aa8",
        "type": "function",
        "z": "81053105.60e14",
        "name": "Get full audit",
        "func": "var auditID = msg.payload.data.audit.audit_id;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '';\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "5837cb59.e7c0a4"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "5837cb59.e7c0a4",
        "type": "http request",
        "z": "81053105.60e14",
        "name": "Request audit data",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "4055406f.c132c"
            ]
        ]
    },
    {
        "id": "4055406f.c132c",
        "type": "function",
        "z": "81053105.60e14",
        "name": "Filter info for email",
        "func": "msg.payload.machineType = msg.payload.header_items.filter(el => el.label.includes(\"Machine Type\"));\nmsg.payload.storeNumber = msg.payload.header_items.filter(el => el.label.includes(\"Store Number\"));\nmsg.payload.posCondition = msg.payload.items.filter(el => el.label.includes(\"point of sale is in good condition\"));\nmsg.payload.operatingManual = msg.payload.items.filter(el => el.label.includes(\"has an Operating Manual\"));\nmsg.payload.trainingRequired = msg.payload.items.filter(el => el.label.includes(\"Has additional training been arranged?\"));\nmsg.payload.serialNo = msg.payload.header_items.filter(el => el.label.includes(\"Machine Serial Number\"));\nmsg.payload.machineCleanliness = msg.payload.items.filter(el => el.label.includes(\"What is the state of the machine's cleanliness\"));\nmsg.payload.feedback = msg.payload.items.filter(el => el.label.includes(\"Please detail all feedback\"));\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "4f39c730.47d5f",
                "7c847c3a.2e0464"
            ]
        ]
    },
    {
        "id": "4f39c730.47d5f",
        "type": "debug",
        "z": "81053105.60e14",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c847c3a.2e0464",
        "type": "switch",
        "z": "81053105.60e14",
        "name": "",
        "property": "payload.audit_data.score_percentage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "70",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "3a3c1db1.7e2272"
            ],
            [
                "b16043d6.01d04"
            ]
        ]
    },
    {
        "id": "3a3c1db1.7e2272",
        "type": "change",
        "z": "81053105.60e14",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "payload.visitStatus",
                "pt": "msg",
                "to": "Pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "32f1516b.be04be"
            ]
        ]
    },
    {
        "id": "b16043d6.01d04",
        "type": "change",
        "z": "81053105.60e14",
        "name": "Fail",
        "rules": [
            {
                "t": "set",
                "p": "payload.visitStatus",
                "pt": "msg",
                "to": "Fail",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "32f1516b.be04be"
            ]
        ]
    },
    {
        "id": "2ee838f7.5afa8",
        "type": "function",
        "z": "81053105.60e14",
        "name": "Get report web link",
        "func": "var auditID = msg.payload.data.audit.audit_id;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/web_report_link';\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "9f50c618.dec928"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "9f50c618.dec928",
        "type": "http request",
        "z": "81053105.60e14",
        "name": "Request report web link",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "f15175ff.8b0de"
            ]
        ]
    },
    {
        "id": "f15175ff.8b0de",
        "type": "change",
        "z": "81053105.60e14",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportWebLink",
                "pt": "msg",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 360,
        "wires": [
            [
                "32f1516b.be04be"
            ]
        ]
    },
    {
        "id": "25238c81.fe3d14",
        "type": "function",
        "z": "81053105.60e14",
        "name": "Build http request",
        "func": "var machineType = msg.payload[1].machineType[0].responses.selected[0].label;\nvar machineCleanliness = msg.payload[1].machineCleanliness[0].responses.selected[0].label;\nvar posCondition = msg.payload[1].posCondition[0].responses.selected[0].label;\nvar signoffSheets = msg.payload[1].operatingManual[0].responses.selected[0].label;\nvar trainingRequired = msg.payload[1].trainingRequired[0].responses.selected[0].label;\nvar operatingManual = msg.payload[1].operatingManual[0].responses.selected[0].label;\nvar author = msg.payload[1].audit_data.authorship.author;\nvar site = msg.payload[1].audit_data.site.name;\nvar reportWebLink = msg.payload[0].url;\nvar visitScore = msg.payload[1].audit_data.score_percentage.toString().slice(0, 5);\nvar serialNo = msg.payload[1].serialNo[0].responses.text;\nvar date_completed = msg.payload[1].audit_data.date_completed;\nvar dateCompleted = msg.payload[1].audit_data.date_completed.toString().slice(0, 10);\nvar timeCompleted = msg.payload[1].audit_data.date_completed.toString().slice(11, 19);\nvar rawFeedback = msg.payload[1].feedback[0].responses.text;\nvar visitStatus = msg.payload[1].visitStatus;\nvar storeNumber = msg.payload[1].storeNumber[0].responses.text;\nvar score = msg.payload[1].audit_data.score;\nvar maxScore = msg.payload[1].audit_data.total_score;\nvar feedback = rawFeedback.toString().replace(/(\\r\\n|\\n|\\r|[\"'])/gm, \" \");\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\";\nmsg.headers[\"accept\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/smtp/email\";\nmsg.method = \"POST\";\nmsg.payload= '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"epteam@expressoplus.com\",\"name\":\"eP Team\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"templateId\":25,\"subject\":\"'+ storeNumber +' '+ site +' | '+ visitStatus +' '+ visitScore +'%\",\"params\":{\"site\":\"' + site + '\",\"machineType\":\"' + machineType + '\",\"visitScore\":\"' + visitScore + '\",\"posCondition\":\"' + posCondition +'\",\"machineCleanliness\":\"'+ machineCleanliness +'\",\"operatingManual\":\"' + operatingManual + '\",\"signoffSheets\":\"' + signoffSheets + '\",\"trainingRequired\":\"' + trainingRequired + '\",\"author\":\"' + author +'\",\"reportWebLink\":\"' + reportWebLink + '\",\"serialNo\":\"' + serialNo + '\",\"date_completed\":\"'+ dateCompleted +'\",\"time_completed\":\"'+ timeCompleted +'\",\"feedback\":\"'+ feedback +'\",\"visitStatus\":\"'+ visitStatus +'\",\"storeNumber\":\"'+ storeNumber +'\",\"score\":\"'+ score +'\",\"maxScore\":\"'+ maxScore +'\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "17eaa715.367969"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "17eaa715.367969",
        "type": "http request",
        "z": "81053105.60e14",
        "name": "Send email via Sendinblue",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 540,
        "y": 420,
        "wires": [
            [
                "ced1f65a.0ed248"
            ]
        ]
    },
    {
        "id": "32f1516b.be04be",
        "type": "join",
        "z": "81053105.60e14",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 280,
        "wires": [
            [
                "25238c81.fe3d14",
                "6fa29011.760758"
            ]
        ]
    },
    {
        "id": "6fa29011.760758",
        "type": "debug",
        "z": "81053105.60e14",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "ced1f65a.0ed248",
        "type": "debug",
        "z": "81053105.60e14",
        "name": "Report email status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "22653d15.67d1ca",
        "type": "debug",
        "z": "81053105.60e14",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "a33a0eb2.21fc08",
        "type": "subflow:b6f41f64.a726c",
        "z": "81053105.60e14",
        "name": "v1",
        "env": [],
        "x": 1370,
        "y": 60,
        "wires": []
    },
    {
        "id": "74cc2a3f.9e7dfc",
        "type": "debug",
        "z": "81053105.60e14",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "a87e1db1.9abc9",
        "type": "subflow:2d331bcf.10f214",
        "z": "81053105.60e14",
        "name": "v2 - hourly check",
        "env": [],
        "x": 1340,
        "y": 120,
        "wires": []
    },
    {
        "id": "358825b6.2ac2ca",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "Check data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 760,
        "wires": []
    },
    {
        "id": "b6d42c71.d73b88",
        "type": "function",
        "z": "b6f41f64.a726c",
        "name": "Build http request",
        "func": "var reportAddress = msg.payload.reportURL;\nvar machineType = msg.payload.machineType;\nvar machineCleanliness = msg.payload.machineCleanliness;\nvar posCondition = msg.payload.posCondition;\nvar signoffSheets = msg.payload.signoffSheets;\nvar trainingRequired = msg.payload.trainingRequired;\nvar operatingManual = msg.payload.operatingManual;\nvar author = msg.payload.author;\nvar site = msg.payload.site;\nvar reportWebLink = msg.payload.reportWebLink;\nvar visitScore = msg.payload.visitScore.toString().slice(0, 5);\nvar serialNo = msg.payload.serialNo;\nvar date_completed = msg.payload.date_completed;\nvar dateCompleted = msg.payload.date_completed.toString().slice(0, 10);\nvar timeCompleted = msg.payload.date_completed.toString().slice(11, 19);\nvar rawFeedback = msg.payload.feedback;\nvar visitStatus = msg.payload.visitStatus;\nvar storeNumber = msg.payload.storeNumber;\nvar feedback = rawFeedback.toString().replace(/(\\r\\n|\\n|\\r)/gm, \" \");\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\";\nmsg.headers[\"accept\"] = \"application/json\";\nmsg.headers[\"api-key\"] = \"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\";\nmsg.url = \"https://api.sendinblue.com/v3/smtp/email\";\nmsg.method = \"POST\";\nmsg.payload= '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"alex.perjescu@expressoplus.com\",\"name\":\"eP Team\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"templateId\":25,\"subject\":\"'+ storeNumber +' '+ site +' | '+ visitStatus +' '+ visitScore +'%\",\"params\":{\"site\":\"' + site + '\",\"machineType\":\"' + machineType + '\",\"score\":\"' + visitScore +'\",\"posCondition\":\"' + posCondition +'\",\"machineCleanliness\":\"'+ machineCleanliness +'\",\"operatingManual\":\"' + operatingManual + '\",\"signoffSheets\":\"' + signoffSheets + '\",\"trainingRequired\":\"' + trainingRequired + '\",\"author\":\"' + author +'\",\"reportWebLink\":\"' + reportWebLink + '\",\"serialNo\":\"' + serialNo + '\",\"date_completed\":\"'+ dateCompleted +'\",\"time_completed\":\"'+ timeCompleted +'\",\"feedback\":\"'+ feedback +'\",\"visitStatus\":\"'+ visitStatus +'\",\"storeNumber\":\"'+ storeNumber +'\"}}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 900,
        "wires": [
            [
                "89e9a385.301c6",
                "7b64d933.feecf8"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "c808073b.0ba808",
        "type": "function",
        "z": "b6f41f64.a726c",
        "name": "Filter info for email",
        "func": "msg.payload.machineType = msg.payload.header_items.filter(el => el.label.includes(\"Machine Type\"));\nmsg.payload.storeNumber = msg.payload.header_items.filter(el => el.label.includes(\"Store Number\"));\nmsg.payload.posCondition = msg.payload.items.filter(el => el.label.includes(\"point of sale is in good condition\"));\nmsg.payload.operatingManual = msg.payload.items.filter(el => el.label.includes(\"has an Operating Manual\"));\nmsg.payload.trainingRequired = msg.payload.items.filter(el => el.label.includes(\"Has additional training been arranged?\"));\nmsg.payload.serialNo = msg.payload.header_items.filter(el => el.label.includes(\"Machine Serial Number\"));\nmsg.payload.machineCleanliness = msg.payload.items.filter(el => el.label.includes(\"What is the state of the machine's cleanliness\"));\nmsg.payload.feedback = msg.payload.items.filter(el => el.label.includes(\"Please detail all feedback\"));\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 620,
        "wires": [
            [
                "7918e3d9.45130c",
                "2e58bec.c1c0042"
            ]
        ]
    },
    {
        "id": "89e9a385.301c6",
        "type": "http request",
        "z": "b6f41f64.a726c",
        "name": "Send email via Sendinblue",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 620,
        "y": 900,
        "wires": [
            [
                "9dcb2a9a.fabf8"
            ]
        ]
    },
    {
        "id": "21c50fa5.3a62a8",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportURL",
                "pt": "msg",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 900,
        "wires": [
            [
                "b6d42c71.d73b88",
                "f123887.64bc1f8"
            ]
        ]
    },
    {
        "id": "7918e3d9.45130c",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "machineType",
                "pt": "msg",
                "to": "payload.machineType[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "posCondition",
                "pt": "msg",
                "to": "payload.posCondition[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "operatingManual",
                "pt": "msg",
                "to": "payload.operatingManual[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "trainingRequired",
                "pt": "msg",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "author",
                "pt": "msg",
                "to": "payload.audit_data.authorship.owner",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "site",
                "pt": "msg",
                "to": "payload.audit_data.site.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "auditID",
                "pt": "msg",
                "to": "payload.audit_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "visitScore",
                "pt": "msg",
                "to": "payload.audit_data.score_percentage",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "machineCleanliness",
                "pt": "msg",
                "to": "payload.machineCleanliness[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "signoffSheets",
                "pt": "msg",
                "to": "payload.trainingRequired[0].responses.selected[0].label",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date_completed",
                "pt": "msg",
                "to": "payload.audit_data.date_completed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "serialNo",
                "pt": "msg",
                "to": "payload.serialNo[0].responses.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "feedback",
                "pt": "msg",
                "to": "payload.feedback[0].responses.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "storeNumber",
                "pt": "msg",
                "to": "payload.storeNumber[0].responses.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 720,
        "wires": [
            [
                "358825b6.2ac2ca",
                "6c61a777.cd795"
            ]
        ]
    },
    {
        "id": "873c73c6.af1d48",
        "type": "http request",
        "z": "b6f41f64.a726c",
        "name": "Request audit data",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "c808073b.0ba808"
            ]
        ]
    },
    {
        "id": "3014dfb9.35d768",
        "type": "function",
        "z": "b6f41f64.a726c",
        "name": "Get full audit",
        "func": "var auditID = msg.payload.data.audit.audit_id;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '';\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 620,
        "wires": [
            [
                "873c73c6.af1d48"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "8282228d.d43428",
        "type": "switch",
        "z": "b6f41f64.a726c",
        "name": "",
        "property": "payload.data.template.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Audit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 620,
        "wires": [
            [
                "3014dfb9.35d768"
            ]
        ]
    },
    {
        "id": "70a062ca.d48f54",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "Fail",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "msg",
                "to": "Fail",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 740,
        "wires": [
            [
                "f620d6a1.2fb5c",
                "cbb7b211.1850e"
            ]
        ]
    },
    {
        "id": "c6ffebec.1bcce8",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "visitStatus",
                "pt": "msg",
                "to": "Pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 700,
        "wires": [
            [
                "f620d6a1.2fb5c",
                "cbb7b211.1850e"
            ]
        ]
    },
    {
        "id": "6c61a777.cd795",
        "type": "switch",
        "z": "b6f41f64.a726c",
        "name": "",
        "property": "visitScore",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "70",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 720,
        "wires": [
            [
                "c6ffebec.1bcce8"
            ],
            [
                "70a062ca.d48f54"
            ]
        ]
    },
    {
        "id": "9dcb2a9a.fabf8",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "Report email status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 940,
        "wires": []
    },
    {
        "id": "f620d6a1.2fb5c",
        "type": "function",
        "z": "b6f41f64.a726c",
        "name": "Get report web link",
        "func": "var auditID = msg.payload.audit_id;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.headers[\"Authorization\"] = \"Bearer 9b5db6aa75fe53d7a63c24e5974fcb82128b837eb2dbe43499ce4fdd4f6189ae\";\nmsg.url = 'https://api.safetyculture.io/audits/' + auditID + '/web_report_link';\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "933fd49.31e26a8",
                "6f3a3ece.283f08"
            ]
        ],
        "info": "curl --request POST \\\n  --url https://api.sendinblue.com/v3/smtp/email \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --data '{\"sender\":{\"name\":\"eP Robot\",\"email\":\"robot@expressoplus.com\"},\"to\":[{\"email\":\"Alex\",\"name\":\"alex.perjescu@expressoplus.com\"}],\"replyTo\":{\"email\":\"transactional@expressoplus.com\"},\"attachment\":[{\"url\":\"http://urlofattacment.com\"}],\"textContent\":\"this is the body of the email\",\"subject\":\"this is the subject line\"}'\nreturn msg;"
    },
    {
        "id": "933fd49.31e26a8",
        "type": "http request",
        "z": "b6f41f64.a726c",
        "name": "Request report web link",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 840,
        "wires": [
            [
                "e22febaf.933678"
            ]
        ]
    },
    {
        "id": "e22febaf.933678",
        "type": "change",
        "z": "b6f41f64.a726c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reportWebLink",
                "pt": "msg",
                "to": "payload.url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 840,
        "wires": [
            [
                "21c50fa5.3a62a8",
                "9753296e.144b5"
            ]
        ]
    },
    {
        "id": "7b64d933.feecf8",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 940,
        "wires": []
    },
    {
        "id": "6f3a3ece.283f08",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "9753296e.144b5",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 840,
        "wires": []
    },
    {
        "id": "f123887.64bc1f8",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 940,
        "wires": []
    },
    {
        "id": "1ec7ea32.91f13e",
        "type": "delay",
        "z": "b6f41f64.a726c",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 620,
        "wires": [
            [
                "8282228d.d43428"
            ]
        ]
    },
    {
        "id": "cbb7b211.1850e",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "2e58bec.c1c0042",
        "type": "debug",
        "z": "b6f41f64.a726c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 620,
        "wires": []
    }
]